.nosotros, .historia, .filosofia {
     display: flex;
     margin-top: 50px;
}

.contenido-central {
     padding:10% 0 10% 0!important;
}

.nosotrosImg {
     width: 45%;

}

.nosotrosImg img {
     width: 100%;
     border-radius: 200px;
}

.info {
     width: 55%;
     margin: auto 0;

}
.info2{
     width:70%;
     margin:auto 0;
}
.info p{
     top:50%;
}

.filosofiaImg, .historiaImg{
     width:30%;

}
.filosofiaImg img, .historiaImg img{
     width:100%;
     border-radius: 100px;
     margin:auto 10px auto 10px;
}

h1, h3 {
     text-decoration: underline;
     text-decoration-color: #EA526F;
}
