* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Exo, sans-serif;
}
a, a:visited{
     text-decoration: none;
}

.contenedorTotal {
     display: grid;
     grid-template-rows: 60px auto 150px;
     grid-template-columns: 0 100% 0;
     background-color: white;
}


/*NAVBAR*/
.nav-bar {
     grid-row: 1;
     grid-column: 1/span 3;
     background-color: #FCEADE;
     display:flex;
     box-shadow: 1px 0 2px #EA526F;
     z-index:1;
}

.link-container{
     width:100%;
     display:flex;
}

.nav-link {
     color: #EA526F;
     text-decoration: none;
     width: 100%;
     text-align: center;
     padding:30px 0 0 0;
}

.nav-link:hover{
     position:relative;
     right:1px;
     border-bottom: 2px solid #EA526F;
}

.nav-link:active{
     position:relative;
     top:5px;
}

.nav-link:visited, .logo-nav:visited{
     text-decoration: none;
}

.logo-nav img{
     height:80px;
}

.logo-nav:hover{
     position:relative;
     top:1px;
}


.boton-sand {
     display:none;
	cursor:pointer;
	color:#ea526e;
	font-size:18px;
	font-weight:bold;
	padding:18px 9px;
	text-decoration:none;
     width:60px;

}

.boton-sand:hover {
     font-size: 19px;
}

.boton-sand:active {
	position:relative;
	top:1px;
}

.sesion-nav{
     padding: 30px 20px 0 10px;
     color:#ea526e;
     width:60px;
}
.sesion-nav:hover{
     font-size: 18px;
}

#logout-logo{
     display:none;
}



.menu-sand{
     display:none;
     width:100%;
     background-color: white;
     position:absolute;
     top:60px;
     padding:0;
     line-height: 3em;
     box-shadow: 1px 1px 3px grey;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-top: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:59px;
  width:inherit;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 14px;
  line-height: 30px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

















/*FOOTER*/
.footer{
     grid-column: 1/span 3;
     grid-row:3;
     background-color: #FCEADE;
     box-shadow: 1px 0 2px #EA526F;
     padding: 20px 10% 10px 0;
     display:flex;
}

.footer table{
     width:90%;
     border-spacing: 10px;
     font-size:15px;
}

.footer a:hover{
     position:relative;
     top:1px;
     text-shadow: 1px 1px 1px #EA526F;
}
.footer i{
     color:#EA526F;
}

.footer img{
     height: 100px;
}

.redes{
     display:flex;
     margin:auto;
}
.redes i{
     padding: 0 20px 20px 0;
}





/*LOGIN*/
.login-container{
     display:none;
     z-index: 1000;
     width:auto;
     height:auto;
     min-width: 200px;
     background-color: #FCEADE;
     box-shadow: -1px 1px 3px grey;
     position:absolute;
     right:10px;
     top:77px;
     text-align: center;
     padding: 10px 20px;
}



.login-container td{
     padding: 0 10px 15px 0;
}

.login-button{

     border:none;
     border-radius: 20px;
     color:white;
     background-color: #EA526F;
     padding: 10px;
     box-shadow: 1px 1px 2px lightgrey;
}

.login-button:hover{
     position:relative;
     top:1px;
}

.login-button:active{
     top:2px;
}
